body{
    background: lightgrey;
}

.poke-card{
    border-radius: 0!important;
}

.poke-card img{
    width: 100px
}

.card-img-top{
    width: 100%!important;
    border-radius: 0!important;
    background-color: rgb(225, 239, 243);
}
