body{
    background: lightgrey;
}

.poke-card{
    border-radius: 35px!important;
}

.poke-card img{
    width: 100px
}

.card-img-top{
    width: 100%!important;
    border-radius: 0!important;
    /*background-color: rgb(253, 235, 235);*/
    background-color: #f6fce3;
}

.filter-input{
    border-radius: 50px!important;
}

.filter-input:focus{
    outline: none;
}